{% extends 'base.html' %}

{% block title %}Category Details{% endblock %}

{% block header %}
    <h2>{{ category['name'] }}</h2>
{% endblock %}

{% block content %}
    <form method="post" action="{{ url_for('category.start_quiz', category_id=category['id']) }}">
        {% for question in questions %}
            <div class="question">
                <h3>{{ question['question_text'] }}</h3>
                <ul>
                    {% for answer in question['answers'] %}
                        <li>
                            <label>
                                <input type="radio" name="answer_{{ question['id'] }}" value="{{ answer['id'] }}" required>
                                {{ answer['answer_text'] }}
                            </label>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
        <button type="submit" class="btn">Submit Answers</button>
    </form>
{% endblock %}
