{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block header %}
    <h1>Welcome to Flaskr</h1>
{% endblock %}

{% block content %}
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>

            {% if g.user %}
                <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                <li><span>Logged in as: {{ g.user['username'] }}</span></li>
            {% else %}
                <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                <li><a href="{{ url_for('auth.register') }}">Register</a></li>
            {% endif %}
        </ul>
    </nav>

    <section class="intro">
    <div class="intro-content">
        <h2>Welcome to <span>Quera Quiz</span>!</h2>
        <p>Your interactive platform for quizzes, where learning meets fun.</p>
        <p><strong>New here?</strong> Register or log in to start exploring categories and testing your knowledge.</p>
        <p><strong>Admins</strong> can add new categories and questions, while <strong>regular users</strong> can take quizzes and track their progress. Have fun and keep learning!</p>
    </div>
    </section>
{% endblock %}
